
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Create Library","CreateEdit","Library")
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">UserID</th>
                <th scope="col">BookID</th>
                <th scope="col">OrderCreatedDate</th>
                <th scope="col">Deadline</th>
                <th scope="col">ReturnedDate</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in @Model.db.Library)
                {
                <tr>
                    <th scope="row">@item.ID</th>
                    <th scope="row">@item.UserID</th>
                    <th scope="row">@item.BookID</th>
                    <th scope="row">@item.CreatedDate</th>
                    <th scope="row">@item.Deadline</th>
                    <th scope="row">@item.ReturnedDate</th>
                    <td scope="row">@Html.ActionLink("Edit Library", "CreateEdit", "Library", new { item.ID }, null)</td>
                </tr>

            }
        </table>

