
@{
    ViewBag.Title = "Index";
}

@model List<Authors>
@*@model List<WebApplication1.Entities.Books>*@

@Html.ActionLink("Create Author", "CreateEdit", "Author")
@*@Html.ActionLink("Создать", "Create", "Book")*@



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            @foreach (var item in Model)
            {
        <tr>
            <th scope="row">@item.Id</th>
            <th scope="row">@item.FirstName</th>
            <th scope="row">@item.LastName</th>
            <td scope="row">@Html.ActionLink("Edit author", "CreateEdit", "Author", new { item.Id }, null)</td>
        </tr>

            }
    </table>
