
@{
    ViewBag.Title = "Books";
}
<span >@Html.ActionLink("Create Book", "CreateEdit", "Book")</span>
@model List<Books>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Pages</th>
            <th scope="col">Price</th>
            <th scope="col">Genre</th>
            <th scope="col">Handle</th>

        </tr>
    </thead>
    <tbody>
        <tr>

            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.AuthorId</th>
                <th scope="row">@item.Title</th>
                <th scope="row">@item.Pages</th>
                <th scope="row">@item.Price</th>
                <th scope="row">@item.GenreId</th>
                <td scope="row">@Html.ActionLink("Edit", "CreateEdit", "Book", new { item.Id }, null)/@Html.ActionLink("Delete", "Delete", "Book", new { item.Id }, null)</td>
            </tr>

            }
    </table>

