@{
    ViewBag.Title = "Index";
}

@model List<Users>
@Html.ActionLink("Create User","CreateEdit","Users")

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Hadle</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.ID</th>
                <th scope="row">@item.FIO</th>
                <th scope="row">@item.Email</th>
                <td scope="row">@Html.ActionLink("Edit User", "CreateEdit", "Users", new { item.ID }, null)</td>
            </tr>

        }
    </table>


